<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
    <main>
        <section id="welcome-section">
            <div id="me">
                <h1>Hola soy Agustin</h1>
                <h3 >Trainee Full Stack Developer React js.</h3>
            </div>  
        </section>
        <section id="projects">
            <div id="select-projects">
                <h1 class="project-tile">Algunos de mis Proyectos</h1>
            </div>
            <section id="muestra">
                <% data.forEach(function(element){ %>
                <div class="proyectos">
                    <a type="none" href="<%= element.url %>" target="_blank">
                        <article class="articulo">
                            <img src="<%= element.img %>" alt="Proyecto Nº03"/>
                            <h2><%= element.name %></h2>
                        </article>
                    </a>
                </div>
                <% }) %>
                
            </section>
        </section>
        <section id="section-redes">
            <section  class="box">
                <div class="project-tile">
                    <h1>Redes</h1>
                </div>
                <div id="redes">
                    <a href="" id="profile-link" class="red text" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="" class="red text" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="" class="red text" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="red text" target="_blank"><i class="fa-solid fa-at"></i></a>
                </div>
            </section>
            <section>
                <div>
                    
                </div>
                <form action="">
                    
                </form>
            </section>
        </section>
    </main>
</body>
</html>